/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Gobal */

:root {
  --Color-White: #ffffff;
  --Color-Light-Gray: #d6e2f0;
  --Color-Grayish-Blue: #7b879d;
  --Color-Dark-Blue: #1f3251;
}

html {
  font-size: 62.5%; /* Reset browsers font size to 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-Light-Gray);
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.qr-code {
  max-width: 30rem;
  background-color: var(--Color-White);
  text-align: center;
  border-radius: 10px;
  padding: 1.6rem 1.6rem 4rem 1.6rem;
}

.qr-code img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 3.2rem;
}

h1 {
  color: var(--Color-Dark-Blue);
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

p {
  color: var(--Color-Grayish-Blue);
  font-size: 1.5rem;
}
