/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Gobal */

:root {
  --Color-White: #ffffff;
  --Color-Light-Gray: #d6e2f0;
  --Color-Grayish-Blue: #7b879d;
  --Color-Dark-Blue: #1f3251;
}

html {
  font-size: 62.5%; /* Reset browsers font size to 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-Light-Gray);
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
